body{
	background: rgb(201, 150, 150);
	font-family: "helvetica", "arial", "sans-serif"
	}
#parent{
	border: 1px solid #000000;
	width: 100%;
	height: 200%;
	margin-left: auto;
	margin-right: auto;/*centers the page*/
	text-align: center; /*centers content in a region*/
	padding: 10px;
	box-sizing: border-box; /*compensates for padding enlargement*/
	box-shadow: #444444 0px 0px 10px;
	}	
#header{
	background: rgb(25, 4, 207);
	width: 100%;
	height: 8%;
	margin-left: auto;
	margin-right: auto;/*centers region in browser*/
	text-align: center; /*centers content in a region*/
	padding: 10px;
	box-sizing: border-box; /*compensates for padding enlargement*/
	border-radius: 10px;
	
	}
	
#content{
	background: #FFFFFF;
 	width: 100%;
	height: 68%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;/*centers region in browser*/
	text-align: center; /*centers content in a region*/
	padding: 10px;
	box-sizing: border-box; /*compensates for padding enlargement*/
	overflow: scroll;
	border-radius: 10px;
	
	}
	
#footer{
	background: #FFFFFF;
 	width: 100%;
	height: 6%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;/*centers region in browser*/
	text-align: center; /*centers content in a region*/
	padding: 10px;
	box-sizing: border-box; /*compensates for padding enlargement*/
	border-radius: 10px;
	font-family: 'Roboto', sans-serif;
	
	}
	
	
h1{
	margin-top: 0px;
	font-size: 2.4em; /* 1 em is default h1*/
	}
	
.pic1{
	width: 45%;
	border: 2px solid #ffffff
	}

.text1{
	font-size: .8em;
	color: #222222;
	line-height: 1.2em;
	}
	
